about-time==4.2.1
attrs==22.2.0
certifi==2022.12.7
charset-normalizer==2.1.1
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
exceptiongroup==1.1.0
fcsparser==0.2.4
fonttools==4.38.0
grapheme==0.6.0
idna==3.4
iniconfig==1.1.1
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.6.2
numba==0.56.4
numpy==1.23.5
packaging==22.0
pandas==1.5.2
Pillow==9.3.0
pluggy==1.0.0
progress==1.6
pynndescent==0.5.8
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.7
scikit-learn==1.2.0
scipy==1.9.3
six==1.16.0
threadpoolctl==3.1.0
tomli==2.0.1
urllib3==1.26.13
